---
http_interactions:
- request:
    method: post
    uri: https://apisandbox.zuora.com/apps/services/a/74.0
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:api="http://api.zuora.com/" xmlns:obj="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
          <soapenv:Header>
            <api:SessionHeader>
              <api:session>s-fs3YIbf3oHJTv_l6mJuJoIRkDQ9OHq0Rq3v3n3nnXyOJWjiD6S7hAs0TWuiHo_VG2PsnpHPk2slDNgvbCNLPvJzDenSidg24MS63QSbZGVPjbjV62zLVgQuL5HsEr5FbzxJbyFqooojOysQ1ynmtKjLMiMcFByKfIjBHoIgKWra7v8aB4loAyefZWhVV5Th3_CPYFUGHx9a1qCdbG-m9HcFgOFdilGv0nwlOD557BMDZD9wArUP_8CPkZgyUlw</api:session>
            </api:SessionHeader>
          </soapenv:Header>
          <soapenv:Body>
            <api:amend>
              <api:requests>
                <api:Amendments>
                  <obj:ContractEffectiveDate>2017-01-01</obj:ContractEffectiveDate>
                  <obj:Description>Renewing at customer request</obj:Description>
                  <obj:CustomerAcceptanceDate>2017-01-01</obj:CustomerAcceptanceDate>
                  <obj:EffectiveDate>2017-01-01</obj:EffectiveDate>
                  <obj:ServiceActivationDate>2017-01-01</obj:ServiceActivationDate>
                  <obj:SubscriptionId>2c92c0f95282215501528a9b494c0a48</obj:SubscriptionId>
                  <obj:Status>Completed</obj:Status>
                  <obj:Type>UpdateProduct</obj:Type>
                  <obj:Name>Product update</obj:Name>
                  <api:RatePlanData>
                    <api:RatePlan>
                      <obj:AmendmentSubscriptionRatePlanId>2c92c0f950fa763f01510cbb937812dd</obj:AmendmentSubscriptionRatePlanId>
                    </api:RatePlan>
                  </api:RatePlanData>
                  <api:RatePlanChargeData>
                    <api:RatePlanCharge>
                      <obj:ProductRatePlanId>2c92c0f950fa763f01510cbb937812dd</obj:ProductRatePlanId>
                    </api:RatePlanCharge>
                  </api:RatePlanChargeData>
                </api:Amendments>
                <api:AmendOptions>
                  <api:GenerateInvoice>true</api:GenerateInvoice>
                  <api:ProcessPayments>true</api:ProcessPayments>
                </api:AmendOptions>
                <api:PreviewOptions>
                  <api:EnablePreviewMode>false</api:EnablePreviewMode>
                  <api:PreviewThroughTermEnd>false</api:PreviewThroughTermEnd>
                </api:PreviewOptions>
              </api:requests>
            </api:amend>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><ns1:amendResponse
        xmlns:ns1="http://api.zuora.com/"><ns1:results><ns1:Errors><ns1:Code>INVALID_VALUE</ns1:Code><ns1:Message>Can't
        find the RatePlan by AmendmentSubscriptionRatePlanId.</ns1:Message></ns1:Errors><ns1:Success>false</ns1:Success></ns1:results></ns1:amendResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Fri, 29 Jan 2016 04:24:42 GMT
recorded_with: VCR 3.0.1
