---
http_interactions:
- request:
    method: post
    uri: https://apisandbox.zuora.com/apps/services/a/74.0
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:api="http://api.zuora.com/" xmlns:obj="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
          <soapenv:Body>
            <api:login>
              <api:username>engineering+dev@contactually.com</api:username>
              <api:password><ZUORA_SANDBOX_PASSWORD></api:password>
            </api:login>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><ns1:loginResponse
        xmlns:ns1="http://api.zuora.com/"><ns1:result><ns1:Session>5B5xP0lYytAWbrRmz5DeW2Zcj2yaG0ReK-t6pPrmxDGWQAGof4nCwUTGrtCDsEtwxAipvz3jStGyPjsNFhwtiweceH9PLnOoUfeIBdpFKb-wbR7qOdCj0LKQgoO3UMS8Ay-Wh68Twklfttm3FtGpRsegJX4zPsw5b7RfHYG6oSugPZt9JYORxrdndPbDLx5Qe6VEYL-dRrCxS56RsZ_h4j9dCwi3-0GlbsMudYRAn5NF03VGVCWVVY16jmBK8fwa</ns1:Session><ns1:ServerUrl>https://apisandbox.zuora.com/apps/services/a/74.0</ns1:ServerUrl></ns1:result></ns1:loginResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 18 Feb 2016 15:06:27 GMT
recorded_with: VCR 3.0.1
