---
http_interactions:
- request:
    method: post
    uri: https://apisandbox.zuora.com/apps/services/a/74.0
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:api="http://api.zuora.com/" xmlns:obj="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
          <soapenv:Body>
            <api:login>
              <api:username>engineering+dev@contactually.com</api:username>
              <api:password><ZUORA_SANDBOX_PASSWORD></api:password>
            </api:login>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><ns1:loginResponse
        xmlns:ns1="http://api.zuora.com/"><ns1:result><ns1:Session>yYR0CKfjF6yOF3HfGUwHlwEY-va2xtKjLizZeGf0M9WoJ9kb5-iz7aNquacAVdop5CDOe-YmJNGRle5yUE9TpGrtQqZUqNyWBf0E9i23q8ntqH-CVgyZEs_Zy9Yzi-RlKh5NDE4rpIIDV4r62namSua-MQTILHnKXalZWXqYPNV0btirvSxa1NCqDIbVhV3gvbw46cWz0mNkqHe99tJdF1f2QiULGRMRHyvFGLy6nqtGo2MgF0HZsNklaP3PQ1NX</ns1:Session><ns1:ServerUrl>https://apisandbox.zuora.com/apps/services/a/74.0</ns1:ServerUrl></ns1:result></ns1:loginResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Mon, 01 Feb 2016 14:44:52 GMT
recorded_with: VCR 3.0.1
