---
http_interactions:
- request:
    method: post
    uri: https://apisandbox.zuora.com/apps/services/a/74.0
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:api="http://api.zuora.com/" xmlns:obj="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
          <soapenv:Body>
            <api:login>
              <api:username>engineering+dev@contactually.com</api:username>
              <api:password><ZUORA_SANDBOX_PASSWORD></api:password>
            </api:login>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><ns1:loginResponse
        xmlns:ns1="http://api.zuora.com/"><ns1:result><ns1:Session>cAUM_Ucf75I0NbCbKcWJxH-02iiYbMz8lqSl8VSe4D0c5MbzYdVCtFVc-DhU-vujsKi6GYSRd_a3a0Imv4m5odORuQLNM6ARcyearuR1HvdEoZSpcKG9twmZkfQ3_3uvgRgla30PGgkodAZJbVLmwgxiPxPC2HE8iRnFfaHh30G-Ul0SejRVc6zmLugbIZMxPt1pN2_VGARhCKcOU6iFlTgQcJEvGFaSFsAbcgAGqhDT_Ll-AkMYO4iaHOCtDoeI</ns1:Session><ns1:ServerUrl>https://apisandbox.zuora.com/apps/services/a/74.0</ns1:ServerUrl></ns1:result></ns1:loginResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Mon, 01 Feb 2016 13:20:35 GMT
recorded_with: VCR 3.0.1
