---
http_interactions:
- request:
    method: post
    uri: https://apisandbox-api.zuora.com/rest/v1/connections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Apiaccesskeyid:
      - engineering+dev@contactually.com
      Apisecretaccesskey:
      - "<ZUORA_SANDBOX_PASSWORD>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : true
        }
  recorded_at: Thu, 21 Jan 2016 02:01:58 GMT
- request:
    method: put
    uri: https://apisandbox-api.zuora.com/rest/v1/subscriptions/INVALID_ID/cancel
    body:
      encoding: UTF-8
      string: '{"cancellationPolicy":"SpecificDate","cancellationEffectiveDate":"2016-01-20","invoiceCollect":false}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : false,
          "processId" : "0374B3C89E3CFE71",
          "reasons" : [ {
            "code" : 53200040,
            "message" : "Cannot find entity by key: 'INVALID_ID'."
          } ]
        }
  recorded_at: Thu, 21 Jan 2016 02:01:59 GMT
recorded_with: VCR 3.0.1
