---
http_interactions:
- request:
    method: post
    uri: https://apisandbox-api.zuora.com/rest/v1/connections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Apiaccesskeyid:
      - engineering+dev@contactually.com
      Apisecretaccesskey:
      - "<ZUORA_SANDBOX_PASSWORD>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : true
        }
  recorded_at: Thu, 21 Jan 2016 02:01:58 GMT
- request:
    method: put
    uri: https://apisandbox-api.zuora.com/rest/v1/subscriptions/2c92c0fb525e37e7015261ea7f220aae/cancel
    body:
      encoding: UTF-8
      string: '{"cancellationPolicy":"SpecificDate","cancellationEffectiveDate":"2016-01-20","invoiceCollect":false}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : true,
          "subscriptionId" : "2c92c0fa525e261a015261eab81e0d60",
          "cancelledDate" : "2016-01-20",
          "totalDeltaMrr" : 0E-9,
          "totalDeltaTcv" : null
        }
  recorded_at: Thu, 21 Jan 2016 02:01:58 GMT
recorded_with: VCR 3.0.1
