---
http_interactions:
- request:
    method: post
    uri: https://apisandbox-api.zuora.com/rest/v1/connections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Apiaccesskeyid:
      - engineering+dev@contactually.com
      Apisecretaccesskey:
      - "<ZUORA_SANDBOX_PASSWORD>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : true
        }
  recorded_at: Wed, 20 Jan 2016 22:21:34 GMT
- request:
    method: post
    uri: https://apisandbox-api.zuora.com/rest/v1/subscriptions
    body:
      encoding: UTF-8
      string: '{"accountKey":"2c92c0fa525e25d50152611a674074a2","termType":"EVERGREEN","contractEffectiveDate":"2016-01-20","serviceActivationDate":"2016-01-20","autoRenew":true,"subscribeToRatePlans":[{"productRatePlanId":"2c92c0f950fa763f01510cbb937812dd"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : true,
          "subscriptionId" : "2c92c0fb525e37ea01526120f38f73db",
          "subscriptionNumber" : "A-S00000044",
          "contractedMrr" : 59.000000000,
          "totalContractedValue" : null,
          "invoiceId" : "2c92c0fb525e37ea01526120f47573e4",
          "paymentId" : "2c92c0fb525e37ea01526120f4d873ef",
          "paidAmount" : 59.00
        }
  recorded_at: Wed, 20 Jan 2016 22:21:35 GMT
recorded_with: VCR 3.0.1
