---
http_interactions:
- request:
    method: post
    uri: https://apisandbox-api.zuora.com/rest/v1/connections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Apiaccesskeyid:
      - engineering+dev@contactually.com
      Apisecretaccesskey:
      - "<ZUORA_SANDBOX_PASSWORD>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : true
        }
  recorded_at: Wed, 20 Jan 2016 22:09:26 GMT
- request:
    method: post
    uri: https://apisandbox-api.zuora.com/rest/v1/accounts
    body:
      encoding: UTF-8
      string: '{"name":"693d0a7a-7946-467a-90a6-cc9c7953588a","autoPay":true,"currency":"USD","billCycleDay":"0","paymentTerm":"Net
        30","accountNumber":"123456","billToContact":{"firstName":"Velma","lastName":"Gutkowski","address1":"30661
        Lynch Route","city":"Gillianshire","state":"NE","zipCode":"68108-3953","country":"USA"},"soldToContact":{"firstName":"Velma","lastName":"Gutkowski","address1":"30661
        Lynch Route","city":"Gillianshire","state":"NE","zipCode":"68108-3953","country":"USA"},"creditCard":{"cardType":"Visa","cardNumber":"4242424242424242","expirationMonth":"03","expirationYear":2017,"securityCode":"122"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : false,
          "processId" : "4798D6CB4997DF21",
          "reasons" : [ {
            "code" : 51000020,
            "message" : "The account number 123456 is invalid."
          } ]
        }
  recorded_at: Wed, 20 Jan 2016 22:09:27 GMT
recorded_with: VCR 3.0.1
