---
http_interactions:
- request:
    method: post
    uri: https://apisandbox-api.zuora.com/rest/v1/connections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Apiaccesskeyid:
      - engineering+dev@contactually.com
      Apisecretaccesskey:
      - "<ZUORA_SANDBOX_PASSWORD>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : true
        }
  recorded_at: Wed, 20 Jan 2016 22:20:28 GMT
- request:
    method: post
    uri: https://apisandbox-api.zuora.com/rest/v1/subscriptions
    body:
      encoding: UTF-8
      string: '{"renewalTerm":3,"renewalTermPeriodType":"Week","termType":"EVERGREEN","invoiceTargetDate":"-4712-01-01","accountKey":"2c92c0fa525e25d50152611a674074a2","contractEffectiveDate":"2016-01-20","invoice":true,"collect":true,"initialTerm":12,"initialTermPeriodType":"Week","notes":"Test
        POST subscription from zuora-ruby","serviceActivationDate":"2016-01-20","autoRenew":true,"subscribeToRatePlans":[{"productRatePlanId":"INVALID_ID"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : false,
          "processId" : "6378106EC164D790",
          "reasons" : [ {
            "code" : 53000021,
            "message" : "Invalid parameter(s): 'invoice,collect'."
          } ]
        }
  recorded_at: Wed, 20 Jan 2016 22:20:29 GMT
recorded_with: VCR 3.0.1
