---
http_interactions:
- request:
    method: post
    uri: https://apisandbox.zuora.com/apps/services/a/74.0
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:api="http://api.zuora.com/" xmlns:obj="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
          <soapenv:Header>
            <api:SessionHeader>
              <api:session>RrBOknF00rZnOUCPLEDH86xBdqs0LkBLy5cMs-409vpTlXr9e-UZxXV-MfI3sHSkY8VshEfDJrONvK4b1touWZyjSlwwidUlvnlb96QYMu5b2-l5GsLUcDbmp9fIBSEQQ2wgJQYtnHTf1EG5AqfuPRAn9zub3sDZz0Cl5JgejxZ7QRtwHxvYEHml60IxqHV-swJQ2t8K9ooNXWw5yNQz6u00EbeQsn0NBreH9wktyNCPnHlhobUXYU-YnEdmkF_y</api:session>
            </api:SessionHeader>
          </soapenv:Header>
          <soapenv:Body>
            <api:query>
              <api:queryString>SELECT Id FROM subscription WHERE SubscriptionStartDate = '2016-02-08'</api:queryString>
            </api:query>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><ns1:queryResponse
        xmlns:ns1="http://api.zuora.com/"><ns1:result><ns1:done>true</ns1:done><ns1:queryLocator
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="1" /><ns1:records
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="1" /><ns1:size>0</ns1:size></ns1:result></ns1:queryResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 18 Feb 2016 15:43:17 GMT
recorded_with: VCR 3.0.1
