---
http_interactions:
- request:
    method: post
    uri: https://apisandbox.zuora.com/apps/services/a/74.0
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:api="http://api.zuora.com/" xmlns:obj="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
          <soapenv:Header>
            <api:SessionHeader>
              <api:session>WVLHsaHLXFyIhvCNY3jDn548Ein-UhEjnkfUK3U1_QGnKy5Vf8M4cS-lBhqXBvdpFV3XePrcdhJ15m9e_HyemkROr1U_5XwR44vJwgI3IY4PsP-RW2Lz3Dw5bEolTyzAtltBiAo6hGZCekNPoALlo-2lk4pPhK2OWzQqr3TCwmwMeHBokG_CoTsm7dCu4f2qwr1AHGkf9yteBWUtOtT-Y8P06VAqMh4nWeVwHG-Mh_f4NJv7oct0iVQkfhIhVqKn</api:session>
            </api:SessionHeader>
          </soapenv:Header>
          <soapenv:Body>
            <api:amend>
              <api:requests>
                <api:Amendments>
                  <obj:ContractEffectiveDate class="call">2017-01-01</obj:ContractEffectiveDate>
                  <obj:Description class="call">Renewing at customer request</obj:Description>
                  <obj:CustomerAcceptanceDate class="call">2017-01-01</obj:CustomerAcceptanceDate>
                  <obj:EffectiveDate class="call">2017-01-01</obj:EffectiveDate>
                  <obj:ServiceActivationDate class="call">2017-01-01</obj:ServiceActivationDate>
                  <obj:SubscriptionId class="call">2c92c0f95282215501528a9b494c0a48</obj:SubscriptionId>
                  <obj:Status class="call">Completed</obj:Status>
                  <obj:Type class="call">NewProduct</obj:Type>
                  <obj:Name class="call">renewal</obj:Name>
                  <api:RatePlanData>
                    <api:RatePlan>
                      <obj:ProductRatePlanId class="call">2c92c0f950fa763f01510cbb937812dd</obj:ProductRatePlanId>
                    </api:RatePlan>
                  </api:RatePlanData>
                </api:Amendments>
                <api:AmendOptions>
                  <api:GenerateInvoice class="call">true</api:GenerateInvoice>
                  <api:ProcessPayments class="call">true</api:ProcessPayments>
                </api:AmendOptions>
                <api:PreviewOptions>
                  <api:EnablePreviewMode class="call"/>
                  <api:PreviewThroughTermEnd class="call"/>
                </api:PreviewOptions>
              </api:requests>
            </api:amend>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><ns1:amendResponse
        xmlns:ns1="http://api.zuora.com/"><ns1:results><ns1:AmendmentIds>2c92c0f8528211da01528abcf28311fd</ns1:AmendmentIds><ns1:SubscriptionId>2c92c0f8528211da01528abcf2db1207</ns1:SubscriptionId><ns1:Success>true</ns1:Success><ns1:TotalDeltaMrr>59.000000000</ns1:TotalDeltaMrr><ns1:TotalDeltaTcv
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="1" /></ns1:results></ns1:amendResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Fri, 29 Jan 2016 00:16:25 GMT
recorded_with: VCR 3.0.1
