---
http_interactions:
- request:
    method: post
    uri: https://apisandbox.zuora.com/apps/services/a/74.0
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="http://api.zuora.com/" xmlns:ns2="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
          <soapenv:Body>
            <ns1:login>
              <ns1:username>engineering+dev@contactually.com</ns1:username>
              <ns1:password><ZUORA_SANDBOX_PASSWORD></ns1:password>
            </ns1:login>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><ns1:loginResponse
        xmlns:ns1="http://api.zuora.com/"><ns1:result><ns1:Session>VYOLUFFJihnFDokJkVNX2a0EaoP3_r6z0J3V5r4SwkznLYg-OcDp0D0yPodFVbjsQ5tR6rspCRhCNVTtrGGM0-m8rE8xBr2K_XSCi2BVGSrnHydDOmt8TrOsP0N5bWM44tBzRsr_tgQVZJVk-w9clHcsWDAYx0j85NYPH6nd1pdYpc3ZYEPnCtWPRUA-ucmTE9Xa38YBKfza2_QyerfQSr-j2PlgZxXlT4zpBBHMJO6vcVensClKwgAmtcgSjbKp</ns1:Session><ns1:ServerUrl>https://apisandbox.zuora.com/apps/services/a/74.0</ns1:ServerUrl></ns1:result></ns1:loginResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Wed, 27 Jan 2016 20:50:32 GMT
recorded_with: VCR 3.0.1
