---
http_interactions:
- request:
    method: post
    uri: https://apisandbox.zuora.com/apps/services/a/74.0
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:api="http://api.zuora.com/" xmlns:obj="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
          <soapenv:Body>
            <api:login>
              <api:username>engineering+dev@contactually.com</api:username>
              <api:password><ZUORA_SANDBOX_PASSWORD></api:password>
            </api:login>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><ns1:loginResponse
        xmlns:ns1="http://api.zuora.com/"><ns1:result><ns1:Session>WVLHsaHLXFyIhvCNY3jDn548Ein-UhEjnkfUK3U1_QGnKy5Vf8M4cS-lBhqXBvdpFV3XePrcdhJ15m9e_HyemkROr1U_5XwR44vJwgI3IY4PsP-RW2Lz3Dw5bEolTyzAtltBiAo6hGZCekNPoALlo-2lk4pPhK2OWzQqr3TCwmwMeHBokG_CoTsm7dCu4f2qwr1AHGkf9yteBWUtOtT-Y8P06VAqMh4nWeVwHG-Mh_f4NJv7oct0iVQkfhIhVqKn</ns1:Session><ns1:ServerUrl>https://apisandbox.zuora.com/apps/services/a/74.0</ns1:ServerUrl></ns1:result></ns1:loginResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 28 Jan 2016 19:48:16 GMT
recorded_with: VCR 3.0.1
