---
http_interactions:
- request:
    method: post
    uri: https://apisandbox.zuora.com/apps/services/a/74.0
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="http://api.zuora.com/" xmlns:ns2="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
          <soapenv:Header>
            <ns1:SessionHeader>
              <ns1:session>qYpOi5Zu9pMGApy-qZFHxsD0qtzCg3cff-E262Brb4qZUjvo2SFFa1HsDiqsENZ4j2Jp3vzXRePWa3cnhOxoDS7EpbGaVz1E7c6pyujp3nnyQ7qmRUCCdORB-dm7v8PnNGJ-btt17GVxFM4lwF7rE7UjpyPMMO9gvcZTDZQJLTXzLWSb4jujLZSgXn7XELHyNt4JHue76yq04gCXABpQFk2IipVjoiGBCiL28jaDu1-GNiMnE-btw0Dc9n-I6Y3Z</ns1:session>
            </ns1:SessionHeader>
          </soapenv:Header>
          <soapenv:Body>
            <ns1:create>
              <ns1:zObjects xsi:type="ns2:BillRun">
                <ns2:InvoiceDate>2016-03-01</ns2:InvoiceDate>
                <ns2:TargetDate>2016-03-01</ns2:TargetDate>
              </ns1:zObjects>
            </ns1:create>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><ns1:createResponse
        xmlns:ns1="http://api.zuora.com/"><ns1:result><ns1:Id>2c92c0f9525e37f30152663e61ad358b</ns1:Id><ns1:Success>true</ns1:Success></ns1:result></ns1:createResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 21 Jan 2016 22:11:50 GMT
recorded_with: VCR 3.0.1
