---
http_interactions:
- request:
    method: post
    uri: https://apisandbox.zuora.com/apps/services/a/74.0
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:api="http://api.zuora.com/" xmlns:obj="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
          <soapenv:Header>
            <api:SessionHeader>
              <api:session>_ECIDL75agH150KQaumt80piLVn3Wb_hPc7olLeU7dWEaJ1YNbTiooV7evqL42-7lKqRdbOkv_xuVrg11EhoD24zTHbzc-C_zsoRxIfaYtavJVnUIC19f3E50zJkVnPduGBMmmPhzlSZ9057qNlKOho9jRVJ-p3373xDBZ8UPHF9RR9j7Krs7D7N4xvEtD3Go6RtqZ7Pu4A9d97pomnIXq6FD3prpN3fealj21-Ap6KIZi111D9kzjsnHh6inQ97</api:session>
            </api:SessionHeader>
          </soapenv:Header>
          <soapenv:Body>
            <api:create>
              <api:zObjects xsi:type="obj:BillRun">
                <obj:TargetDate>2016-03-01</obj:TargetDate>
                <obj:InvoiceDate>2016-03-01</obj:InvoiceDate>
              </api:zObjects>
            </api:create>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><ns1:createResponse
        xmlns:ns1="http://api.zuora.com/"><ns1:result><ns1:Id>2c92c0f95282215b0152897f57aa4532</ns1:Id><ns1:Success>true</ns1:Success></ns1:result></ns1:createResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 28 Jan 2016 18:29:30 GMT
recorded_with: VCR 3.0.1
