---
http_interactions:
- request:
    method: post
    uri: https://apisandbox.zuora.com/apps/services/a/74.0
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="http://api.zuora.com/" xmlns:ns2="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
          <soapenv:Header>
            <ns1:SessionHeader>
              <ns1:session>T1je3w9FeGVQKUZ2PL9oVyi-0EnF34EAm4pxGbZlSy6y2u_S_AxlxswrXBtytaNYGFDGoLoUHnOJqDzakgeBzuA_Ml6U9bVcuRmWlQDTJSyDmwcYxv-eRce5gczd9V5cRnHfXfPMVIpSBC8oxhJoBTQ_WQ8izxGN2AWXO5_qOeff4ROrn7uPw3Urt5yARmiwGnqir3ji_oUf0wxQRfm5YiHOTy5Q9L4v9oRm3skx3l24vrqbbSlf7fgve7kccA3L</ns1:session>
            </ns1:SessionHeader>
          </soapenv:Header>
          <soapenv:Body>
            <ns1:create>
              <ns1:zObjects xsi:type="ns2:BillRun">
                <ns2:TargetDate>2016-03-01</ns2:TargetDate>
                <ns2:InvoiceDate>2016-03-01</ns2:InvoiceDate>
              </ns1:zObjects>
            </ns1:create>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><ns1:createResponse
        xmlns:ns1="http://api.zuora.com/"><ns1:result><ns1:Id>2c92c0f9525e3862015265f9d71e324e</ns1:Id><ns1:Success>true</ns1:Success></ns1:result></ns1:createResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 21 Jan 2016 20:56:58 GMT
recorded_with: VCR 3.0.1
