---
http_interactions:
- request:
    method: post
    uri: https://apisandbox.zuora.com/apps/services/a/74.0
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="http://api.zuora.com/" xmlns:ns2="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
          <soapenv:Body>
            <ns1:login>
              <ns1:username>engineering+dev@contactually.com</ns1:username>
              <ns1:password><ZUORA_SANDBOX_PASSWORD></ns1:password>
            </ns1:login>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/spec/envelope/"><soapenv:Body><ns1:loginResponse
        xmlns:ns1="http://api.zuora.com/"><ns1:result><ns1:Session>pz8o4CxxSzvEffI4tKuoy1pGVgZCWkVTCpEGJSk1JNq3lraPGy5ZCtG75Ptvuz-7eZH-d4BHnWdiM8mMDv6opgARuwt8YNwl5kWBtuZooKwI-noE3-E-QUSmCe_3DJ9Q-WdfuHuhLOMjrWYRamEmd5ORvq9RYcRmIfut5j5crWWFpGtTBE5euGN2oruJ2vkKc-JVuReBYFn-KxzUJa8RNLEkaQaZJ1gOI36CGzb9G1mrrlZZQ_YdAc1qPosDXhOj</ns1:Session><ns1:ServerUrl>https://apisandbox.zuora.com/apps/services/a/74.0</ns1:ServerUrl></ns1:result></ns1:loginResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Fri, 22 Jan 2016 17:53:42 GMT
recorded_with: VCR 3.0.1
