---
http_interactions:
- request:
    method: post
    uri: https://apisandbox.zuora.com/apps/services/a/74.0
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="http://api.zuora.com/" xmlns:ns2="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
          <soapenv:Body>
            <ns1:login>
              <ns1:username>engineering+dev@contactually.com</ns1:username>
              <ns1:password><ZUORA_SANDBOX_PASSWORD></ns1:password>
            </ns1:login>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><ns1:loginResponse
        xmlns:ns1="http://api.zuora.com/"><ns1:result><ns1:Session>T1je3w9FeGVQKUZ2PL9oVyi-0EnF34EAm4pxGbZlSy6y2u_S_AxlxswrXBtytaNYGFDGoLoUHnOJqDzakgeBzuA_Ml6U9bVcuRmWlQDTJSyDmwcYxv-eRce5gczd9V5cRnHfXfPMVIpSBC8oxhJoBTQ_WQ8izxGN2AWXO5_qOeff4ROrn7uPw3Urt5yARmiwGnqir3ji_oUf0wxQRfm5YiHOTy5Q9L4v9oRm3skx3l24vrqbbSlf7fgve7kccA3L</ns1:Session><ns1:ServerUrl>https://apisandbox.zuora.com/apps/services/a/74.0</ns1:ServerUrl></ns1:result></ns1:loginResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Thu, 21 Jan 2016 20:56:58 GMT
recorded_with: VCR 3.0.1
