---
http_interactions:
- request:
    method: post
    uri: https://apisandbox.zuora.com/apps/services/a/74.0
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="http://api.zuora.com/" xmlns:ns2="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
          <soapenv:Header>
            <ns1:SessionHeader>
              <ns1:session>pz8o4CxxSzvEffI4tKuoy1pGVgZCWkVTCpEGJSk1JNq3lraPGy5ZCtG75Ptvuz-7eZH-d4BHnWdiM8mMDv6opgARuwt8YNwl5kWBtuZooKwI-noE3-E-QUSmCe_3DJ9Q-WdfuHuhLOMjrWYRamEmd5ORvq9RYcRmIfut5j5crWWFpGtTBE5euGN2oruJ2vkKc-JVuReBYFn-KxzUJa8RNLEkaQaZJ1gOI36CGzb9G1mrrlZZQ_YdAc1qPosDXhOj</ns1:session>
            </ns1:SessionHeader>
          </soapenv:Header>
          <soapenv:Body>
            <ns1:create>
              <ns1:zObjects xsi:type="ns2:Refund">
                <ns2:Amount>5</ns2:Amount>
                <ns2:PaymentId>2c92c0945239b44f01523de2ce0a6e7b</ns2:PaymentId>
                <ns2:Type>Electronic</ns2:Type>
              </ns1:zObjects>
            </ns1:create>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><ns1:createResponse
        xmlns:ns1="http://api.zuora.com/"><ns1:result><ns1:Id>2c92c0f9526913db01526b767f9f7dc8</ns1:Id><ns1:Success>true</ns1:Success></ns1:result></ns1:createResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Fri, 22 Jan 2016 22:31:15 GMT
recorded_with: VCR 3.0.1
