---
http_interactions:
- request:
    method: post
    uri: https://apisandbox.zuora.com/apps/services/a/74.0
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:api="http://api.zuora.com/" xmlns:obj="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
          <soapenv:Header>
            <api:SessionHeader>
              <api:session>cAsWTv8yws-madBwHd3p_pQhgJaAKbfrT9z8m9MM1bQiUtfqGF4xV6TvfG_s8gl8knt_HUBbEdKxdzgM1yubTFh3Ir0z3voE81q7dpI--J21n0DF5lNJ3_LJQRzVPpHRKQqfJ-HeiN1lS0DaByn4SNGopVGdb_AljXSTvaJjK-qp0Y3ThGBWb94gHlo68sv4Q_tDuDDsxy5RAE0ojPJzO56iTnfgdTNlxJ_RU-STJ8o9jwm-TUgCIyPSCQHbbreV</api:session>
            </api:SessionHeader>
          </soapenv:Header>
          <soapenv:Body>
            <api:subscribe>
              <api:subscribes>
                <api:Account>
                  <obj:AutoPay>false</obj:AutoPay>
                  <obj:Batch>Batch1</obj:Batch>
                  <obj:BillCycleDay>1</obj:BillCycleDay>
                  <obj:Currency>USD</obj:Currency>
                  <obj:Name>Some name</obj:Name>
                  <obj:PaymentTerm>Due Upon Receipt</obj:PaymentTerm>
                  <obj:Status>Draft</obj:Status>
                  <obj:AccountName>Faker::Name Account</obj:AccountName>
                </api:Account>
                <api:PaymentMethod>
                  <obj:Type>CreditCard</obj:Type>
                  <obj:UseDefaultRetryRule>true</obj:UseDefaultRetryRule>
                  <obj:CreditCardNumber>4242424242424242</obj:CreditCardNumber>
                  <obj:CreditCardType>Visa</obj:CreditCardType>
                  <obj:CreditCardAddress1/>
                  <obj:CreditCardAddress2/>
                  <obj:CreditCardState>MD</obj:CreditCardState>
                  <obj:CreditCardCity>Silver Spring</obj:CreditCardCity>
                  <obj:CreditCardCountry>USA</obj:CreditCardCountry>
                  <obj:CreditCardPostalCode>20101</obj:CreditCardPostalCode>
                  <obj:CreditCardSecurityCode>123</obj:CreditCardSecurityCode>
                  <obj:CreditCardExpirationMonth>2</obj:CreditCardExpirationMonth>
                  <obj:CreditCardExpirationYear>2017</obj:CreditCardExpirationYear>
                  <obj:CreditCardHolderName>Enoch Hall</obj:CreditCardHolderName>
                </api:PaymentMethod>
                <api:BillToContact>
                  <obj:FirstName>Horacio</obj:FirstName>
                  <obj:LastName>Paucek</obj:LastName>
                  <obj:WorkEmail>axel_hammes@jacobi.org</obj:WorkEmail>
                </api:BillToContact>
                <api:SubscriptionData>
                  <api:Subscription>
                    <obj:AutoRenew>true</obj:AutoRenew>
                    <obj:ContractAcceptanceDate>2016-07-03</obj:ContractAcceptanceDate>
                    <obj:ContractEffectiveDate>2016-07-03</obj:ContractEffectiveDate>
                    <obj:InitialTerm>12</obj:InitialTerm>
                    <obj:Name>A-S00000020090703080864</obj:Name>
                    <obj:RenewalTerm>12</obj:RenewalTerm>
                    <obj:ServiceActivationDate>2016-07-03</obj:ServiceActivationDate>
                    <obj:TermStartDate>2016-07-03</obj:TermStartDate>
                    <obj:TermType>EVERGREEN</obj:TermType>
                  </api:Subscription>
                  <api:RatePlanData>
                    <api:RatePlan>
                      <obj:ProductRatePlanId>2c92c0f950fa763f01510cbb937812dd</obj:ProductRatePlanId>
                    </api:RatePlan>
                  </api:RatePlanData>
                </api:SubscriptionData>
              </api:subscribes>
            </api:subscribe>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><ns1:subscribeResponse
        xmlns:ns1="http://api.zuora.com/"><ns1:result><ns1:AccountId>2c92c0f8528211da01528b742fa320f0</ns1:AccountId><ns1:AccountNumber>A00000162</ns1:AccountNumber><ns1:InvoiceResult
        /><ns1:SubscriptionId>2c92c0f8528211da01528b743c3f20f6</ns1:SubscriptionId><ns1:SubscriptionNumber>A-S00000020090703080864</ns1:SubscriptionNumber><ns1:Success>true</ns1:Success><ns1:TotalMrr>59.000000000</ns1:TotalMrr><ns1:TotalTcv
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="1" /></ns1:result></ns1:subscribeResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Fri, 29 Jan 2016 03:36:36 GMT
recorded_with: VCR 3.0.1
