---
http_interactions:
- request:
    method: post
    uri: https://apisandbox.zuora.com/apps/services/a/74.0
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="http://api.zuora.com/" xmlns:ns2="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
          <soapenv:Header>
            <ns1:SessionHeader>
              <ns1:session>VYOLUFFJihnFDokJkVNX2a0EaoP3_r6z0J3V5r4SwkznLYg-OcDp0D0yPodFVbjsQ5tR6rspCRhCNVTtrGGM0-m8rE8xBr2K_XSCi2BVGSrnHydDOmt8TrOsP0N5bWM44tBzRsr_tgQVZJVk-w9clHcsWDAYx0j85NYPH6nd1pdYpc3ZYEPnCtWPRUA-ucmTE9Xa38YBKfza2_QyerfQSr-j2PlgZxXlT4zpBBHMJO6vcVensClKwgAmtcgSjbKp</ns1:session>
            </ns1:SessionHeader>
          </soapenv:Header>
          <soapenv:Body>
            <ns1:subscribe>
              <ns1:subscribes>
                <ns1:Account>
                  <ns2:Batch>Batch1</ns2:Batch>
                  <ns2:BillCycleDay>1</ns2:BillCycleDay>
                  <ns2:Currency>USD</ns2:Currency>
                  <ns2:Name>Some name</ns2:Name>
                  <ns2:PaymentTerm>Due Upon Receipt</ns2:PaymentTerm>
                  <ns2:Status>Draft</ns2:Status>
                  <ns2:AccountName>customer@email.com</ns2:AccountName>
                </ns1:Account>
                <ns1:PaymentMethod>
                  <ns2:Type>CreditCard</ns2:Type>
                  <ns2:CreditCardNumber>4242424242424242</ns2:CreditCardNumber>
                  <ns2:CreditCardType>Visa</ns2:CreditCardType>
                  <ns2:CreditCardAddress1/>
                  <ns2:CreditCardAddress2/>
                  <ns2:CreditCardState>MD</ns2:CreditCardState>
                  <ns2:CreditCardCity>Silver Spring</ns2:CreditCardCity>
                  <ns2:CreditCardCountry>USA</ns2:CreditCardCountry>
                  <ns2:CreditCardPostalCode>20101</ns2:CreditCardPostalCode>
                  <ns2:CreditCardSecurityCode>123</ns2:CreditCardSecurityCode>
                  <ns2:CreditCardExpirationMonth>2</ns2:CreditCardExpirationMonth>
                  <ns2:CreditCardExpirationYear>2017</ns2:CreditCardExpirationYear>
                  <ns2:CreditCardHolderName>Enoch Hall</ns2:CreditCardHolderName>
                </ns1:PaymentMethod>
                <ns1:BillToContact>
                  <ns2:FirstName>John</ns2:FirstName>
                  <ns2:LastName>Smith</ns2:LastName>
                  <ns2:WorkEmail>customer@email.com</ns2:WorkEmail>
                </ns1:BillToContact>
                <ns1:SubscriptionData>
                  <ns1:Subscription>
                    <ns2:AutoRenew>true</ns2:AutoRenew>
                    <ns2:ContractAcceptanceDate>2016-07-03</ns2:ContractAcceptanceDate>
                    <ns2:ContractEffectiveDate>2016-07-03</ns2:ContractEffectiveDate>
                    <ns2:InitialTerm>12</ns2:InitialTerm>
                    <ns2:Name>A-S00000020090703080757</ns2:Name>
                    <ns2:RenewalTerm>12</ns2:RenewalTerm>
                    <ns2:ServiceActivationDate>2016-07-03</ns2:ServiceActivationDate>
                    <ns2:TermStartDate>2016-07-03</ns2:TermStartDate>
                    <ns2:TermType>EVERGREEN</ns2:TermType>
                  </ns1:Subscription>
                  <ns1:RatePlanData>
                    <ns1:RatePlan>
                      <ns2:ProductRatePlanId>2c92c0f950fa763f01510cbb937812dd</ns2:ProductRatePlanId>
                    </ns1:RatePlan>
                  </ns1:RatePlanData>
                </ns1:SubscriptionData>
              </ns1:subscribes>
            </ns1:subscribe>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><ns1:subscribeResponse
        xmlns:ns1="http://api.zuora.com/"><ns1:result><ns1:AccountId>2c92c0f95282214e015284da1cf96ed2</ns1:AccountId><ns1:AccountNumber>A00000137</ns1:AccountNumber><ns1:InvoiceResult
        /><ns1:SubscriptionId>2c92c0f95282214e015284da258a6f85</ns1:SubscriptionId><ns1:SubscriptionNumber>A-S00000020090703080757</ns1:SubscriptionNumber><ns1:Success>true</ns1:Success><ns1:TotalMrr>59.000000000</ns1:TotalMrr><ns1:TotalTcv
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="1" /></ns1:result></ns1:subscribeResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Wed, 27 Jan 2016 20:50:35 GMT
recorded_with: VCR 3.0.1
