---
http_interactions:
- request:
    method: post
    uri: https://apisandbox-api.zuora.com/rest/v1/connections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Apiaccesskeyid:
      - engineering+dev@contactually.com
      Apisecretaccesskey:
      - "<ZUORA_SANDBOX_PASSWORD>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : true
        }
  recorded_at: Wed, 20 Jan 2016 22:41:59 GMT
- request:
    method: put
    uri: https://apisandbox-api.zuora.com/rest/v1/subscriptions/2c92c0fa525e261a01526127f6416c8b
    body:
      encoding: UTF-8
      string: '{"invoiceCollect":true,"applyCreditBalance":true,"update":[{"ratePlanId":"2c92c0fa525e261a01526127f6496c8f","contractEffectiveDate":"2016-01-20","chargeUpdateDetails":[{"ratePlanChargeId":"2c92c0fa525e261a01526127f6496c90","quantity":"2"}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : false,
          "processId" : "A0FA991803CC26CE",
          "reasons" : [ {
            "code" : 53500030,
            "message" : "This subscription is not the latest version."
          } ]
        }
  recorded_at: Wed, 20 Jan 2016 22:42:00 GMT
recorded_with: VCR 3.0.1
