---
http_interactions:
- request:
    method: post
    uri: https://apisandbox-api.zuora.com/rest/v1/connections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Apiaccesskeyid:
      - engineering+dev@contactually.com
      Apisecretaccesskey:
      - "<ZUORA_SANDBOX_PASSWORD>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : true
        }
  recorded_at: Wed, 20 Jan 2016 22:29:14 GMT
- request:
    method: put
    uri: https://apisandbox-api.zuora.com/rest/v1/subscriptions/2c92c0fb525e37ea01526120f38f73db
    body:
      encoding: UTF-8
      string: '{"invoiceCollect":true,"applyCreditBalance":true,"remove":[{"ratePlanId":"2c92c0fb525e37ea01526120f37f73d9","contractEffectiveDate":"2016-01-20"}],"add":[{"productRatePlanId":"2c92c0f850fa443e01510cbb557e3cf8","contractEffectiveDate":"2016-01-20"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : false,
          "processId" : "3A8DA52934A038CB",
          "reasons" : [ {
            "code" : 53500030,
            "message" : "This subscription is not the latest version."
          } ]
        }
  recorded_at: Wed, 20 Jan 2016 22:29:14 GMT
recorded_with: VCR 3.0.1
