---
http_interactions:
- request:
    method: post
    uri: https://apisandbox-api.zuora.com/rest/v1/connections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Apiaccesskeyid:
      - engineering+dev@contactually.com
      Apisecretaccesskey:
      - "<ZUORA_SANDBOX_PASSWORD>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : true
        }
  recorded_at: Wed, 20 Jan 2016 21:23:33 GMT
- request:
    method: post
    uri: https://apisandbox-api.zuora.com/rest/v1/accounts
    body:
      encoding: UTF-8
      string: '{"name":"1577f4d4-4583-41fb-92f8-6c141059eac6","autoPay":true,"currency":"USD","billCycleDay":"0","paymentTerm":"Net
        30","billToContact":{"firstName":"Abc","lastName":"Def","address1":"123 Main
        St","city":"Palm Springs","state":"FL","zipCode":"90210","country":"US"},"soldToContact":{"firstName":"Abc","lastName":"Def","address1":"123
        Main St","city":"Palm Springs","state":"FL","zipCode":"90210","country":"US"},"creditCard":{"cardType":"Visa","cardNumber":"4111111111111111","expirationMonth":"03","expirationYear":2017,"securityCode":"122"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : true,
          "accountId" : "2c92c0fa525e25d5015260ebd56464ef",
          "accountNumber" : "A00000119",
          "paymentMethodId" : "2c92c0fa525e25d5015260ebdcdf64f5"
        }
  recorded_at: Wed, 20 Jan 2016 21:23:35 GMT
recorded_with: VCR 3.0.1
