---
http_interactions:
- request:
    method: post
    uri: https://apisandbox-api.zuora.com/rest/v1/connections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Apiaccesskeyid:
      - "<ZUORA_SANDBOX_USERNAME>"
      Apisecretaccesskey:
      - "<ZUORA_SANDBOX_PASSWORD>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : true
        }
  recorded_at: Fri, 15 Jan 2016 19:25:55 GMT
- request:
    method: put
    uri: https://apisandbox-api.zuora.com/rest/v1/accounts
    body:
      encoding: UTF-8
      string: '{"name":"Abc","autoPay":true,"currency":"USD","billCycleDay":"0","paymentTerm":"Net
        30","accountNumber":"123456","soldToContact":{"firstName":"Abc","lastName":"Def","address1":"123
        Main St","city":"Palm Springs","state":"FL","zipCode":"90210","country":"US"},"billToContact":{"firstName":"Abc","lastName":"Def","address1":"123
        Main St","city":"Palm Springs","state":"FL","zipCode":"90210","country":"US"},"creditCard":{"cardType":"Visa","cardNumber":"4111111111111111","expirationMonth":"03","expirationYear":"2017","securityCode":"122"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : false,
          "processId" : "43E33BC8CA606840",
          "reasons" : [ {
            "code" : 50000000,
            "message" : "Request method 'PUT' not supported"
          } ]
        }
  recorded_at: Fri, 15 Jan 2016 19:25:56 GMT
recorded_with: VCR 3.0.1
