---
http_interactions:
- request:
    method: post
    uri: https://apisandbox-api.zuora.com/rest/v1/connections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Apiaccesskeyid:
      - <ZUORA_SANDBOX_USERNAME>
      Apisecretaccesskey:
      - <ZUORA_SANDBOX_PASSWORD>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : true
        }
  recorded_at: Tue, 12 Jan 2016 16:24:48 GMT
- request:
    method: post
    uri: https://apisandbox-api.zuora.com/rest/v1/accounts
    body:
      encoding: UTF-8
      string: '{"accountNumber":null,"autoPay":true,"billToContact":{"address1":"123
        Main St","address2":null,"city":"Palm Springs","country":"US","county":null,"fax":null,"firstName":"Abc","homePhone":null,"lastName":"Def","mobilePhone":null,"nickname":null,"otherPhone":null,"otherPhoneType":null,"personalEmail":null,"zipCode":"90210","state":"FL","taxRegion":null,"workEmail":null,"workPhone":null},"billCycleDay":"0","crmId":null,"currency":"USD","creditCard":{"cardType":"Visa","cardNumber":"4111111111111111","expirationMonth":"03","expirationYear":"2017","securityCode":"122"},"name":"Abc","hpmCreditCardPaymentMethodId":null,"notes":null,"invoiceTemplateId":null,"communicationProfileId":null,"paymentGateway":null,"paymentTerm":"Net
        30","soldToContact":{"address1":"123 Main St","address2":null,"city":"Palm
        Springs","country":"US","county":null,"fax":null,"firstName":"Abc","homePhone":null,"lastName":"Def","mobilePhone":null,"nickname":null,"otherPhone":null,"otherPhoneType":null,"personalEmail":null,"zipCode":"90210","state":"FL","taxRegion":null,"workEmail":null,"workPhone":null},"subscription":null}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : true,
          "accountId" : "2c92c0fb523018ef015236a76e9c4fdd",
          "accountNumber" : "A00000075",
          "paymentMethodId" : "2c92c0fb523018ef015236a7773c4fe3"
        }
  recorded_at: Tue, 12 Jan 2016 16:24:50 GMT
recorded_with: VCR 3.0.1
