---
http_interactions:
- request:
    method: post
    uri: https://apisandbox-api.zuora.com/rest/v1/connections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Apiaccesskeyid:
      - "<ZUORA_SANDBOX_USERNAME>"
      Apisecretaccesskey:
      - "<ZUORA_SANDBOX_PASSWORD>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : true
        }
  recorded_at: Fri, 15 Jan 2016 19:25:57 GMT
- request:
    method: post
    uri: https://apisandbox-api.zuora.com/rest/v1/subscriptions
    body:
      encoding: UTF-8
      string: '{"renewalTerm":3,"renewalTermPeriodType":"week","termType":"TERMED","autoRenew":true,"invoiceTargetDate":"-4712-01-01","accountKey":"123456","contractEffectiveDate":"-4712-01-01","invoiceCollect":false,"initialTerm":"12","initialTermPeriodType":"Week","notes":"Test
        POST subscription from zuora-ruby"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : false,
          "processId" : "BCD764763E1C61A8",
          "reasons" : [ {
            "code" : 53001020,
            "message" : "'invoiceTargetDate' must match \"\\d{4}-\\d{1,2}-\\d{1,2}\""
          }, {
            "code" : 53001820,
            "message" : "'renewalTermPeriodType' value should be one of: Month, Year, Day, Week"
          } ]
        }
  recorded_at: Fri, 15 Jan 2016 19:25:59 GMT
recorded_with: VCR 3.0.1
