---
http_interactions:
- request:
    method: post
    uri: https://apisandbox.zuora.com/apps/services/a/74.0
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:api="http://api.zuora.com/" xmlns:obj="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
          <soapenv:Body>
            <api:login>
              <api:username>engineering+dev@contactually.com</api:username>
              <api:password><ZUORA_SANDBOX_PASSWORD></api:password>
            </api:login>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><ns1:loginResponse
        xmlns:ns1="http://api.zuora.com/"><ns1:result><ns1:Session>ccsIeFCwnsRwlNOk7oOaFZmg4u6SAbCPRf0b4uIkcZD5igB9heYqZB0bC9D9IQUO9vbYs2xOFLdiA6NHTnYF41g9at-o87eRam1EEjDjKmFcn-yquR4MHX9pA5rGffuFq6-faut9bhpHKXjbOiqbiYMt9Sp1nWY0B3txb0Ra2Bbn_ji4WrCDueI9CG4zHhsWOHDihcedR_zo_nX0Rry5PIJ0HysqclN8kIyNLVXNooGAn_bYOiVHYxI82DL0AEtx</ns1:Session><ns1:ServerUrl>https://apisandbox.zuora.com/apps/services/a/74.0</ns1:ServerUrl></ns1:result></ns1:loginResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Fri, 19 Feb 2016 15:53:38 GMT
recorded_with: VCR 3.0.1
