---
http_interactions:
- request:
    method: post
    uri: https://apisandbox.zuora.com/apps/services/a/91.0
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:api="http://api.zuora.com/" xmlns:obj="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
          <soapenv:Body>
            <api:login>
              <api:username><ZUORA_SANDBOX_USERNAME></api:username>
              <api:password><ZUORA_SANDBOX_PASSWORD></api:password>
            </api:login>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><ns1:loginResponse
        xmlns:ns1="http://api.zuora.com/"><ns1:result><ns1:Session>sGCdvdG4BHznyjbHLfNS928_ETWieVKaVGLAEw2IPq9LuHH7CMbhnSEk5i7WqdVa5e_dxL7qk-8MfJE3hrar2j0DzmMrSaP0j_c6RHjTGsmVP9uPS_rMSRf-QCnq2wwRT30pUuXwIvFQNbv46TEf2OSFarsIJM1UTdBy6CkjB8VjZHqUK6Gly3qNWFHNCZCEqKsjkJEf5NZLzRT2MFXX6kgW92zPWWaGWuCvP3mPeR0kuAzi7KMjGGVFKNEq0_fJ</ns1:Session><ns1:ServerUrl>https://apisandbox.zuora.com/apps/services/a/91.0</ns1:ServerUrl></ns1:result></ns1:loginResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Tue, 07 Jun 2016 01:35:16 GMT
recorded_with: VCR 3.0.1
