---
http_interactions:
- request:
    method: post
    uri: https://apisandbox.zuora.com/apps/services/a/74.0
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:api="http://api.zuora.com/" xmlns:obj="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
          <soapenv:Body>
            <api:login>
              <api:username><ZUORA_SANDBOX_USERNAME></api:username>
              <api:password><ZUORA_SANDBOX_PASSWORD></api:password>
            </api:login>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><ns1:loginResponse
        xmlns:ns1="http://api.zuora.com/"><ns1:result><ns1:Session>KI_2zZ7Ui2VZVZKV55COCFwarxYa_Z86HngCvlSeQdG39JB6VCAUrYxuuSTkk_hVvh_6pFCXVOsoGsHxJZ9cKuNBw7P_xHAs5pNrv6Rr4mal5v3blhmNCJdyQOgI0tx75qc3GaMRe9_S4a6JMcdpjMi7PsxBjyXKnE4MyE-zOsEtlZ9RggOlGnPxoh44vxe_khyYnenZ1v7ZcJIxiOTgAdk1W_IyeZ8q00uRFsJq3hRhyEB5UGLXxVDdcWhQVIty</ns1:Session><ns1:ServerUrl>https://apisandbox.zuora.com/apps/services/a/74.0</ns1:ServerUrl></ns1:result></ns1:loginResponse></soapenv:Body></soapenv:Envelope>
  recorded_at: Tue, 07 Jun 2016 01:35:14 GMT
recorded_with: VCR 3.0.1
