---
http_interactions:
- request:
    method: post
    uri: https://apisandbox.zuora.com/apps/services/a/91.0
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:api="http://api.zuora.com/" xmlns:obj="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
          <soapenv:Header>
            <api:SessionHeader>
              <api:session>v0Naatc9CDFJ9R1MjVkthJ382ZzwdqTDtfuXLN2CV4by_-6if7Vr31Xdd0oOkJxVQ31oLCnSdw_X7jV5JcZof7d1vnivUlpBKeKb8dldBIonS8DNQb7uVQ8s0_rDLL91SGamD1GRvXKcYan-aOSXZnrrvySvfG3zYYXj16HYC-LBHfYSNPzlBEN8xFxKIEr8LxhSLBVLiotY_Kfqdyyih_MkQEX9_r8v8Yj3pEwNJTO9pqlgBymtt59ypJOXEUIg</api:session>
            </api:SessionHeader>
          </soapenv:Header>
          <soapenv:Body>
            <api:query>
              <api:queryString>
                  SELECT Id
                  FROM Subscription
                  WHERE subscriptionStartDate &lt; '2016-01-29'
                </api:queryString>
            </api:query>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><ns1:queryResponse
        xmlns:ns1="http://api.zuora.com/"><ns1:result><ns1:done>true</ns1:done><ns1:queryLocator
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="1" /><ns1:records
        xmlns:ns2="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ns2:Subscription"><ns2:Id>2c92c0f85269083b01527e8c7c6639c5</ns2:Id></ns1:records><ns1:records
        xmlns:ns2="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ns2:Subscription"><ns2:Id>2c92c0f8528211140152839495ad7224</ns2:Id></ns1:records><ns1:records
        xmlns:ns2="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ns2:Subscription"><ns2:Id>2c92c0f85282111401528aae35873346</ns2:Id></ns1:records><ns1:records
  [...]
