---
http_interactions:
- request:
    method: post
    uri: https://apisandbox.zuora.com/apps/services/a/74.0
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:api="http://api.zuora.com/" xmlns:obj="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
          <soapenv:Header>
            <api:SessionHeader>
              <api:session>xoXhMFHyfEj4lhEaY_28fBI0nhNVmfZ7yMGeKm5XlE1CdoSDzT5i8XLghigRowdNil03o8mmmG7tvwixTTkbgUcGjWlBg_U6quk9cIl_NVjL2vX43FfjZakT-lDL8asUB7v921qmK7TN6p_4x_duxD3IG1GNva1V9bf0EHza2J40Ab0ijMaGZ-XXMDQhR_TFGYLyBtaC3s5f20TlTN33wqIy9XTEIxPVhfR3e6YqP0j6TL1i5a064K92VNxqeVqR</api:session>
            </api:SessionHeader>
          </soapenv:Header>
          <soapenv:Body>
            <api:query>
              <api:queryString>SELECT Id FROM Account</api:queryString>
            </api:query>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><ns1:queryResponse
        xmlns:ns1="http://api.zuora.com/"><ns1:result><ns1:done>false</ns1:done><ns1:queryLocator>2c92c0f9542cee3a01542f9d55e03598-2000</ns1:queryLocator><ns1:records
        xmlns:ns2="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ns2:Account"><ns2:Id>2c92c0f8535f8d7601537857f9c36477</ns2:Id></ns1:records><ns1:records
        xmlns:ns2="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ns2:Account"><ns2:Id>2c92c0f8535f8de801537858d78e778d</ns2:Id></ns1:records><ns1:records
        xmlns:ns2="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ns2:Account"><ns2:Id>2c92c0f8535f8de801537858de9377a5</ns2:Id></ns1:records><ns1:records
        xmln[...]
- request:
    method: post
    uri: https://apisandbox.zuora.com/apps/services/a/74.0
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:api="http://api.zuora.com/" xmlns:obj="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
          <soapenv:Header>
            <api:SessionHeader>
              <api:session>xoXhMFHyfEj4lhEaY_28fBI0nhNVmfZ7yMGeKm5XlE1CdoSDzT5i8XLghigRowdNil03o8mmmG7tvwixTTkbgUcGjWlBg_U6quk9cIl_NVjL2vX43FfjZakT-lDL8asUB7v921qmK7TN6p_4x_duxD3IG1GNva1V9bf0EHza2J40Ab0ijMaGZ-XXMDQhR_TFGYLyBtaC3s5f20TlTN33wqIy9XTEIxPVhfR3e6YqP0j6TL1i5a064K92VNxqeVqR</api:session>
            </api:SessionHeader>
          </soapenv:Header>
          <soapenv:Body>
            <api:queryMore>
              <api:queryLocator>2c92c0f9542cee3a01542f9d55e03598-2000</api:queryLocator>
            </api:queryMore>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><ns1:queryMore[...]
