---
http_interactions:
- request:
    method: post
    uri: https://apisandbox.zuora.com/apps/services/a/91.0
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:api="http://api.zuora.com/" xmlns:obj="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
          <soapenv:Header>
            <api:SessionHeader>
              <api:session>RrBOknF00rZnOUCPLEDH86xBdqs0LkBLy5cMs-409vpTlXr9e-UZxXV-MfI3sHSkY8VshEfDJrONvK4b1touWZyjSlwwidUlvnlb96QYMu5b2-l5GsLUcDbmp9fIBSEQQ2wgJQYtnHTf1EG5AqfuPRAn9zub3sDZz0Cl5JgejxZ7QRtwHxvYEHml60IxqHV-swJQ2t8K9ooNXWw5yNQz6u00EbeQsn0NBreH9wktyNCPnHlhobUXYU-YnEdmkF_y</api:session>
            </api:SessionHeader>
          </soapenv:Header>
          <soapenv:Body>
            <api:query>
              <api:queryString>SELECT Id FROM subscription</api:queryString>
            </api:query>
          </soapenv:Body>
        </soapenv:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><ns1:queryResponse
        xmlns:ns1="http://api.zuora.com/"><ns1:result><ns1:done>true</ns1:done><ns1:queryLocator
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="1" /><ns1:records
        xmlns:ns2="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ns2:Subscription"><ns2:Id>2c92c0f8528dab8a0152a20b2dd340bf</ns2:Id></ns1:records><ns1:records
        xmlns:ns2="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ns2:Subscription"><ns2:Id>2c92c0f852a678f80152a8c1e71a68d0</ns2:Id></ns1:records><ns1:records
        xmlns:ns2="http://object.api.zuora.com/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:type="ns2:Subscription"><ns2:Id>2c92c0f852a678fa0152ac5630f04a3f</ns2:Id></ns1:records><ns1:records
  [...]
