---
http_interactions:
- request:
    method: post
    uri: https://apisandbox-api.zuora.com/rest/v1/connections
    body:
      encoding: UTF-8
      string: ''
    headers:
      Apiaccesskeyid:
      - bad
      Apisecretaccesskey:
      - bad
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : false,
          "reasons" : [ {
            "code" : 90000011,
            "message" : "this resource is protected, please sign in first"
          } ]
        }
  recorded_at: Fri, 19 Feb 2016 15:53:45 GMT
recorded_with: VCR 3.0.1
