---
http_interactions:
- request:
    method: post
    uri: https://apisandbox-api.zuora.com/rest/v1/accounts
    body:
      encoding: UTF-8
      string: '{"name":"Account Name","hpmCreditCardPaymentMethodId":"2c92c0f952e407170152f11b73e65d85","currency":"USD","billCycleDay":"1","billToContact":{"firstName":"Joe","lastName":"Schmoe","country":"USA"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success" : true,
          "accountId" : "2c92c0fa52e3f6790152f11fd4fd1fcf",
          "accountNumber" : "A00000369",
          "paymentMethodId" : "2c92c0f952e407170152f11b73e65d85"
        }
  recorded_at: Wed, 17 Feb 2016 21:25:41 GMT
recorded_with: VCR 3.0.1
