---
http_interactions:
- request:
    method: get
    uri: https://apisandbox-api.zuora.com/rest/v1/accounts/2c92c0fa52e3f6790152f11fd4fd1fcfx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "success": false,
          "processId": "9E8786DEB80E2331",
          "reasons": [
            {
              "code": 50000040,
              "message": "Cannot find entity by key: '2c92c0fa52e3f6790152f11fd4fd1fcfx'."
            }
          ]
        }
  recorded_at: Wed, 04 Jan 2017 04:25:07 GMT
recorded_with: VCR 3.0.1

