---
http_interactions:
- request:
    method: get
    uri: https://apisandbox-api.zuora.com/rest/v1/accounts/2c92c0fa52e3f6790152f11fd4fd1fcf
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "basicInfo" : {
            "id" : "2c92c0fa52e3f6790152f11fd4fd1fcf",
            "name" : "Account Name",
            "accountNumber" : "A00000369",
            "notes" : "Adding some notes",
            "status" : "Active",
            "crmId" : null,
            "batch" : "Batch1",
            "invoiceTemplateId" : "2c92c0f950a292790150b09c03eb45d2",
            "communicationProfileId" : null,
            "StripeCustomerId__c" : null,
            "CustomerType__c" : null
          },
          "billingAndPayment" : {
            "billCycleDay" : 1,
            "currency" : "USD",
            "paymentTerm" : "Due Upon Receipt",
            "paymentGateway" : null
          },
          "metrics" : {
            "balance" : 0E-9,
            "totalInvoiceBalance" : 0E-9,
            "creditBalance" : 0E-9,
            "contractedMrr" : 0E-9
          },
          "billToContact" : {
            "address1" : null,
            "address2" : null,
            "city" : null,
            "country" : "United States",
            "county" : null,
            "fax" : null,
            "firstName" : "Joe",
            "homePhone" : null,
            "lastName" : "Schmoe",
            "mobilePhone" : null,
            "nickname" : null,
            "otherPhone" : null,
            "otherPhoneType" : null,
            "personalEmail" : null,
            "state" : null,
            "taxRegion" : null,
            "workEmail" : null,
            "workPhone" : null,
            "zipCode" : null
          },
          "soldToContact" : {
            "address1" : null,
            "address2" : null,
            "city" : null,
            "country" : "United States",
            "county" : null,
            "fax" : null,
            "firstName" : "Joe",
            "homePhone" : null,
            "lastName" : "Schmoe",
            "mobilePhone" : null,
            "nickname" : null,
            "otherPhone" : null,
            "otherPhoneType" : null,
            "personalEmail" : null,
            "state" : null,
            "taxRegion" : null,
            "workEmail" : null,
            "workPhone" : null,
            "zipCode" : null
          },
          "success" : true
        }
  recorded_at: Wed, 17 Feb 2016 21:43:07 GMT
recorded_with: VCR 3.0.1
