---
http_interactions:
- request:
    method: put
    uri: https://apisandbox-api.zuora.com/rest/v1/action/update
    body:
      encoding: UTF-8
      string: '{"objects":[{"Id":"2c93808457d787030157e0321fdf4fab","DefaultPaymentMethodId":"2c93808457d787030157e03220ec4fad","Status":"Active"}],"type":"Account"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "Errors":[{
              "Code":"INVALID_ID",
              "Message":"invalid id for update"
            }],
            "Success":false
          }
        ]
  recorded_at: Wed, 17 Feb 2016 21:28:55 GMT
recorded_with: VCR 3.0.1
